{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | Joshua Sterner – Creativity Through Technology</title>
        <link rel="stylesheet" href="{% static "styles.css" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="background-image">
            <script type="text/javascript" src="static/backgroundCanvasShaders.js"></script>
            <script type="text/javascript" src="static/backgroundCanvas.js"></script>
            <canvas id="backgroundCanvas"></canvas>
        </div>
        <header class="header-footer">
                <img class="shadow" id="profile-picture" src="{% static "profile512.jpg" %}" alt="Picture of Joshua Sterner"/>
                <div class="shadow transparent-background" id="header-title-container">
                    <h1>Joshua Sterner</h1>
                    <h2>Creativity<br>Through<br>Technology</h2>
                </div>
                <nav class="{% block navbar-classes%}shadow transparent-background{% endblock %}">
                <ul>
                    <li><a href="/"><h2>Home</h2></a></li>
                    <li><a href="/blog"><h2>Blog</h2></a></li>
                    <li><a href="/music"><h2>Music</h2></a></li>
                </ul>
            </nav>
            {% block header-content %} {% endblock %}
        </header>
        <main>
        {% block content %} {% endblock %}
        </main>
        <footer {% block footer-attributes%} {% endblock %}>
            {% block footer %} {% endblock %}
        </footer>
        <div id="high-contrast-checker" style="background-image: url('#')"></div>
        <script type="text/javascript">
            var highContrastChecker = document.getElementById("high-contrast-checker");
            if (getComputedStyle(highContrastChecker).backgroundImage === 'none') {
                var shadowElements = document.getElementsByClassName("shadow");
                for (var i=0; i < shadowElements.length|0; i++) {
                    shadowElements[i].classList.add("high-contrast-border");
                }
            }
        </script>
    </body>
</html>
