body {
    margin: 0px;
}

header {
    display: grid;
    grid-template-columns: minmax(3em, 8em) minmax(6em, 100%);
    grid-template-rows: auto;
    margin: 0px;
}


.shadow {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

#profile-picture {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#header-title-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0.3em 0.45em 0.3em 0.45em;
    z-index: 100;
    background-color: #fff;
    display: grid;
    grid-template-rows: auto fit-content(100%);
}

#header-title-container h1 {
    margin: 0em;
    font-family: Sans-Serif;
    font-weight: bold;
    font-size: 6vw;
    white-space: nowrap;
}


#header-title-container h2 {
    text-align: right;
    font-family: sans-serif;
    font-style: italic;
    font-size: 4vw;
    margin: 0;
}

nav {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #fff;
    grid-template-rows: auto;
    z-index: 99;
}

nav ul {
    list-style-type: none;
    font-family: sans-serif;
    line-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin-top: -0.75em;
    margin-top: -2vw;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-top: 0.75em;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vw;
    line-height: normal;
    box-shadow: 0px 0px 0.75em rgba(86, 162, 197, 0.68);
    padding: calc(0.1em + 1.85vw);
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a h2 {
    margin: 0px;
    font-size: 1.4em;
    font-size: 4vw;
}

.content-section {
    margin: 1.5em auto;
    max-width: 46em;
    padding: 1.0em;
    border-radius: 0.5em;
    font-family: sans-serif;
}


@media (max-width: 51em) {
    .content-section {
        margin: 1.5em 1.5em;
    }
}

@media (min-width: 36em) {
    #header-title-container h1 {
        font-size: 2.2em;
    }
    #header-title-container h2 {
        font-size: 1.45em;
    }
    nav ul li a h2 {
        font-size: 1.45em;
    }
    nav ul li {
        margin-left: 0.375em;
        margin-right: 0.375em;
        margin-top: 0.75em;
        padding: 0.75em;
    }
    nav ul {
        margin-top: -0.75em;
    }
}

@media (min-width: 48em) {
    header {
        width: 48em;
        margin: auto;
    }
}

@media (max-width: 9em) {
    header {
        grid-template-columns: 3em auto;
        grid-template-rows: 3em;
    }
    #header-title-container h1 {
        font-size: 0.55em;
    }
    nav ul li a h2 {
        font-size: 0.35em;
    }
}

@media (max-width: 13.5em) {
    nav ul li a h2 {
        font-size: calc(0.25em + 2vw);
    }
    nav ul li {
        padding: calc(0.125em + 2vw);
    }
}

.tags {
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 98;
    padding: 0.5em;
}

.tags h5 {
    margin-top: 0em;
    display: inline;
    font-family: sans-serif;
}

.tags a {
    color: black;
    font-size: 0.8em;
    font-family: sans-serif;
}

.post-header {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.post-title {
    margin: 0em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.post-header p {
    margin: 0em;
    font-size: 0.7em;
    font-family: sans-serif;
}

.post-date-posted {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
    align-self: end;
}

.post-date-edited {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: right;
}

.post-tags {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.post-tags h6 {
    margin: 0em;
    display: inline;
    font-family: sans-serif;
}

.post-tags a {
    font-family: sans-serif;
    font-size: 0.7em;
    color: black;
}

.last-element-in-header {
    border-radius: 0em 0em 0.5em 0.5em;
}

.page-navbar ul {
    margin-top: 0em;
}

.page-navbar ul li {
    margin-top: 0em;
    padding: 0.2em;
}

.page-navbar ul li a {
}

footer.content-section {
    padding-bottom: 0px;
    padding-top: 0px;
}


